{{#each model as |spot|}}
<p>
  {{spot.type}}
</p>
{{spot.data.attributes.id}}
{{spot.lighting}}
{{/each}}
<<<<<<< HEAD
{{#leaflet-map lat=lat lng=lng zoom=zoom}}
  {{google-tile-layer type="ROADMAP" opacity=0.9}}

{{/leaflet-map}}
<button {{action geolocate on="click"}}>Log location</button>
=======
>>>>>>> 2f2e8973e71a606ca0f96d3540f1f59633179dd7
<p>Yo</p>
{{outlet}}
