<div class="route-container">

  <div class="main-content">
    <div class="form-container">
      <h2 class="form-container__title">Enter a new Parking Spot</h2>
      <form class="location-form" {{action geolocate address on="submit"}}>
        {{input value=address.street placeholder="street..."}}
        {{input value=address.city placeholder="city"}}
        {{input value=address.state placeholder="state (TN)"}}
        <button>Log location</button>
      </form>
        {{input value=type placeholder="Type..."}}
        {{input value=lighting placeholder="Lighting..."}}
        {{input value=rating placeholder="Rating"}}
      <button {{action saveSpot}}>Save Location</button>
      <button {{action geoFindMe}}>Or Use your current location</button>
      {{#link-to "logout"}} <h3 class="logout">Log Out</h3> {{/link-to}}
      <div id="out"></div>
    </div>

    <div class="map-container">
      {{#leaflet-map lat=lat lng=lng zoom=zoom}}
      {{google-tile-layer type="HYBRID" opacity=0.9}}

      {{#each model as |spot|}}
        {{#marker-layer location=spot.location action="clickedon"}}
          {{address-from-location location=spot.location}}<br>
          Type: {{spot.type}}<br>
          Rating: {{spot.popularity}}<br>
          Lighting: {{spot.lighting}}<br>
          <button {{action streetview spot.location}}>Streetview!</button>

        {{/marker-layer}}
      {{/each}}

      {{#if geolocateran}}
      {{#marker-layer location=emberspot}}
      <h3>My house</h3>
      {{address.street}}<br>
      {{address.city}}, {{address.state}} {{address.zip}}
      {{/marker-layer}}
      {{/if}}

      {{#if geofindmeran}}
      {{#marker-layer location=emberspot}}
      <h3>My house</h3>
      {{address.street}}<br>
      {{address.city}}, {{address.state}} {{address.zip}}
      {{/marker-layer}}
      {{/if}}

      {{/leaflet-map}}
    </div>
  </div>
</div>
{{#if streetviewUrl}}
  <div class="img-container">
    <img class="street-view-img" src="{{streetviewUrl}}" alt="">
    <button{{action derender}} class="street-view-btn">X</button>
  </div>
{{/if}}
{{outlet}}
